@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
    --light-text:     #9b9b9b;
    --default-text:   #c5c5c5;
    --default-bg:     #252525;
    --default-border: #303030;

    background-color: var(--default-bg);
}

* {
    font-family: 'Open Sans', sans-serif;
    color:       var(--default-text);
}

.root {
    position: absolute;
    display:  flex;
    top:      10px;
    bottom:   24px;
    margin:   10px 25% 0 25%;
}

.copyright {
    position:   absolute;
    bottom:     5px;
    left:       0px;
    right:      0px;
    text-align: center;
    font-size:  12px;
}
main {
    padding: 20px;
    border: var(--default-border) solid 1px;
}

.root-sidebar {
    border:      var(--default-border) solid 1px;
    flex-grow:   0;
    flex-shrink: 0;
    margin-left: 10px;
    padding:     0px 5px;
}

::marker {
    content: "-> ";
}

h1 {
   margin: 0;
}

h2 {
    margin: 5px 0 0 0;
}

main h2 {
    border-bottom: solid 1px;
}

.ne {
    color: var(--light-text);
}

.contact-list {
    margin:       0;
    padding-left: 0px;
}

.contact-list>li {
    display: flex;
}

.contact-list>li>svg {
    padding-right: 4px;
}

.contact-list a {
    font-size: 16px;
}

.contact-list ::marker {
    content: none;
}